include ../mixins/all-mixins
header.b-header
    nav.b-header__nav.col-34.row.col-push-1.col-post-1
        li.b-header__nav-li.col-5
            a(href='#yakor_1').b-header__nav-li-link обо мне
        li.b-header__nav-li.col-5
            a(href='').b-header__nav-li-link портфолио
        li.b-header__nav-li.b-header__nav-li-logo.col-12
            a(href='').b-header__nav-li-link-logo
                |Павел <span class="b-header__logo-title">Климин - Ваш</span> ведущий
        li.b-header__nav-li.col-5
            a(href='').b-header__nav-li-link стоимость
        li.b-header__nav-li.col-5
            a(href='').b-header__nav-li-link контакты