extends _layout
block title
    title Павел Климин - Ваш ведущий
block content
    .b-index
        .b-index__top.col-36
            .b-index__main-photo
                .b-index__top-phone +7 999 531-27-97
                .b-index__scroll-portfolio Смотреть портфолио