extends _layout
block title
    title Павел Климин - Ваш ведущий
block content
    .b-index
        .b-index__top.col-36
            .b-index__main-photo
                .b-index__top-phone +7 999 531-27-92
                .b-index__scroll-portfolio.col-push-22
                    a(href='#portfolio').b-index__scroll-portfolio-link.b-header__nav-li-link  Смотреть портфолио
                .b-index__scroll-price.col-push-27
                    a(href='').b-index__scroll-price-link.b-header__nav-li-link Узнать цену

        .b-index__about.col-36
            #yakor_1.b-index__about-text.col-push-3.col-17
                .b-index__about-text-title Обо мне
                p Если Вы искали такого замечательного.................Если Вы искали такого замечательного.................
                    | Если Вы искали такого замечательного.................Если Вы искали такого замечательного.................
                p Если Вы искали такого замечательного.................Если Вы искали такого замечательного.................
                    | Если Вы искали такого замечательного.................Если Вы искали такого замечательного.................
                p Если Вы искали такого замечательного.................Если Вы искали такого замечательного.................
                    | Если Вы искали такого замечательного.................Если Вы искали такого замечательного.................
                p Если Вы искали такого замечательного.................Если Вы искали такого замечательного.................
                    | Если Вы искали такого замечательного.................Если Вы искали такого замечательного.................
            img(src='../img/IMG_0143.JPG').b-index__about-img.col-15
        .b-index__portfolio.col-36
            #portfolio.b-index__about-text-title.col-36 Портфолио
            .b-index__portfolio-speak.col-16.col-push-2
                .b-index__portfolio-speak-video Короткое
                    |<iframe width="560" height="315" src="https://www.youtube.com/embed/0POC-8JkXy0" frameborder="0" allowfullscreen></iframe>
                .b-index__portfolio-speak-video Длинное
                    | <iframe width="560" height="315" src="https://www.youtube.com/embed/znjn3-snGN4" frameborder="0" allowfullscreen></iframe>
            .b-index__portfolio-song.col-16
                .b-index__portfolio-song-video Песня - "Очарована, околдована"
                    | <iframe width="560" height="315" src="https://www.youtube.com/embed/f_mn_e1dIMQ" frameborder="0" allowfullscreen></iframe>
                .b-index__portfolio-song-video Песня - "Wicked game"
                    | <iframe width="560" height="315" src="https://www.youtube.com/embed/8onky3Eenpw" frameborder="0" allowfullscreen></iframe>

