extends _layout
block title
    title Павел Климин - Ваш ведущий
block content
    .b-index
        .b-index__top.col-36
            .b-index__main-photo
                .b-index__top-phone +7 999 531-27-92
                .b-index__scroll-portfolio.col-push-22
                    a(href='#portfolio').b-index__scroll-portfolio-link.b-header__nav-li-link  Смотреть портфолио
                .b-index__scroll-price.col-push-27
                    a(href='#price').b-index__scroll-price-link.b-header__nav-li-link Узнать цену

        .b-index__about.col-36
            #yakor_1.b-index__about-text.col-push-3.col-17
                .b-index__about-text-title Обо мне
                p Если Вы искали такого замечательного.................Если Вы искали такого замечательного.................
                    | Если Вы искали такого замечательного.................Если Вы искали такого замечательного.................
                p Если Вы искали такого замечательного.................Если Вы искали такого замечательного.................
                    | Если Вы искали такого замечательного.................Если Вы искали такого замечательного.................
                p Если Вы искали такого замечательного.................Если Вы искали такого замечательного.................
                    | Если Вы искали такого замечательного.................Если Вы искали такого замечательного.................
                p Если Вы искали такого замечательного.................Если Вы искали такого замечательного.................
                    | Если Вы искали такого замечательного.................Если Вы искали такого замечательного.................
            img(src='../img/IMG_0143.JPG').b-index__about-img.col-15
        .b-index__portfolio.col-36
            #portfolio.b-index__about-text-title.col-36 Портфолио
            .b-index__portfolio-speak.col-16.col-push-2
                .b-index__portfolio-speak-video Короткое
                    |<iframe width="560" height="315" src="https://www.youtube.com/embed/0POC-8JkXy0" frameborder="0" allowfullscreen></iframe>
                .b-index__portfolio-speak-video Длинное
                    | <iframe width="560" height="315" src="https://www.youtube.com/embed/znjn3-snGN4" frameborder="0" allowfullscreen></iframe>
            .b-index__portfolio-song.col-16
                .b-index__portfolio-song-video Песня - "Очарована, околдована"
                    | <iframe width="560" height="315" src="https://www.youtube.com/embed/f_mn_e1dIMQ" frameborder="0" allowfullscreen></iframe>
                .b-index__portfolio-song-video Песня - "Wicked game"
                    | <iframe width="560" height="315" src="https://www.youtube.com/embed/8onky3Eenpw" frameborder="0" allowfullscreen></iframe>
        .b-index__price.col-36
            #price.b-index__about-text-title.col-36 Стоимость
            p.col-push-4.col-28.col-post-4.b-index__price-text Конечную стоимость моих услуг возможно назвать только выслушав все Ваши
                |пожелания и четко определив задачи на предстоящее событие. Наиболее удобный способ сделать это - встретиться лично в офисе.
                |Тем не менее, прямо сейчас, Вы можете предварительно понять порядок цен и увидеть список услуг,
                |входящих в стоимость.
            ul.b-index__price-list.col-push-7.col-11 В стоимость услуг входит:
                li.b-index__price-list-li Работа звукорежиссера (Dj)
                li.b-index__price-list-li Аренда оборудования и трансфер
                li.b-index__price-list-li Написание индивидуальной программы(5ч.)
                li.b-index__price-list-li Составление тайминга
                li.b-index__price-list-li Помощь в подборе подрядчиков и артистов
                li.b-index__price-list-li Работа по договору ИП
                li.b-index__price-list-li Необходимое количество встреч
            p.b-index__price-numbers.col-push-3 от 30 000 рублей.
            p.col-push-4.col-30.col-post-2.b-index__price-footer-text <b>Почему цена может расти?</b> Прежде всего, цена зависит
                | от сезонности. Летний свадебный сезон, декабрьские карпоративы - время, когда исполнители в event-сфере
                | поднимают цены. Также, Вам может понадобиться дополнительное оборудование - генератор тумана, конфетти-пушка и т.д.,
                | их аренда не входит в стоимость. Популярные даты часто являются проблемыми в поиске исполнителя и сказываются
                | на цене. Факторов много, поэтому, рекомендую звонить и уточнять информацию по телефону.



