extends _layout
block title
    title Павел Климин - Ваш ведущий
block content
    .b-index
        .b-index__top.col-36
            .b-index__main-photo
                .b-index__top-phone +7 999 531-27-92
                .b-index__scroll-portfolio.col-push-22
                    a(href='').b-index__scroll-portfolio-link.b-header__nav-li-link  Смотреть портфолио
                .b-index__scroll-price.col-push-27
                    a(href='').b-index__scroll-price-link.b-header__nav-li-link Узнать цену