.b-index__main-photo{
  background-image: url('/img/17.jpg');
  background-size: cover;
  height: 620px;
  background-repeat: no-repeat;
  position: relative;
}
.b-index__top-phone {
  position: absolute;
  left: 5%;
  top: 33%;
  font-weight: 700;
  font-size: 40px;
  font-family: $font-geometria-light;
  color: $vine-red;
}
.b-index__main-photo{
  a{
    color: $dark-gray;
    font-size: 30px;
  }
}
.b-index__scroll-portfolio{
  position: absolute;
  font-size: 40px !important;
  top: 20%;
  border: 1px solid $dark-gray;
  border-radius: 15px;
  padding: 25px;
  :hover{
    font-weight: 700;
    transition: 0.5s;
  }
}
.b-index__scroll-price{
  position: absolute;
  font-size: 40px !important;
  top: 40%;
  border: 1px solid $dark-gray;
  border-radius: 15px;
  padding: 25px;
  :hover{
    font-weight: 700;
    transition: 0.5s;
  }
}
.b-index__scroll-reviews{
  border: 1px solid $dark-gray;
  border-radius: 15px;
  padding: 25px;
  margin-top: 27.5%;
  :hover{
    font-weight: 700;
    transition: 0.5s;
  }
}

/////////about...............
.b-index__about{
  position: relative;
  margin-bottom: 25px;
}
.b-index__about-text-title{
  color: $vine-red;
  font-size: 28px;
  text-align: center;
  font-weight: 700;
  margin-top: 70px;
  margin-bottom: 30px;
}


//portfolio..................
.b-index__portfolio-speak-video, .b-index__portfolio-song-video{
  margin-bottom: 20px;
  &:last-child{
    margin-bottom: 0;
  }
}

//price......................
.b-index__price-list {
  font-family: $font-geometria-bold;
  font-size: 18px;
}
.b-index__price-list-li{
  font-family: $font-geometria-light;
  display: inline-block;
  height: 20px;
  &:first-child{
    margin-top: 10px;
  }
}
.b-index__price-text{
  text-align: center;
  margin-bottom: 25px;
}
.b-index__price-numbers{
  font-family: $font-nautilus;
  font-size: 40px;
  margin-top: 13%;
}
.b-index__price-footer-text{
  margin-top: 50px;
}

//reviews..............
.b-index__reviews-article-wrap{
  overflow: scroll;
  overflow-x: hidden;
  height: 888px;
}
.b-index__reviews-article{
  margin-bottom: 25px;
}
.b-index__reviews-article-image{
  border-radius: 10%;
  float: left;
}
.b-index__reviews-article-text{
  padding-top: 5%;
}
.padding-top-0{
  padding-top: 0;
}
.b-index__contacts-text-top{
  text-align: center;
  margin-bottom: 25px;
}
.b-index__contacts{
  text-align: center;
}